<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>

   <!-- Page Header -->
   <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        
          <div class="post-heading">
            <img style="height:300px ; width: 600px;" src="https://static.wixstatic.com/media/026dae_3d9f365fa8314a12927fe86a439b3e99~mv2_d_3019_3673_s_4_2.jpg/v1/fill/w_415,h_505,fp_0.50_0.50,q_90,enc_auto/026dae_3d9f365fa8314a12927fe86a439b3e99~mv2_d_3019_3673_s_4_2.webp" alt="">
            <h1><%= photo.title %> </h1>
            <h2 class="subheading"><%= photo.detail.substring(0,150) %></h2>
           
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= photo.detail %></p>          


        </div>
      </div>
    </div>
  </article>

  <hr>

 


  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
