<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>

   <!-- Page Header -->
   <header class="masthead" style="background-color: rgb(181, 251, 192);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        
          <div class="post-heading">
            <img style="height:400px ; width: 800px;" src="<%= photo.image %>" alt="">
            <h1><%= photo.title %> </h1>
            <h2 class="subheading"><%= photo.detail.substring(0,150) %></h2>
           
          </div>
          <div class="form-group mb-0" style="display:flex; justify-content: center;">
            <a href="/post/edit/<%= photo._id %>" type="submit" class="btn btn-primary rounded-0 d-block  mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Update</span></a>
            <a href="/post/<%= photo._id %>?_method=DELETE"
               onclick="return confirm('Silmek istediğinizden emin misiniz ?')" type="submit" class="btn btn-danger rounded-0 d-block  mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Delete</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= photo.detail %></p>          


        </div>
      </div>
    </div>
  </article>

  <hr>

 


  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
